.title-bar {
    height: 60px;
    background-color: #ffffff;
}
.title-bar>span {
    margin-left: 10px;
    font-size: 35px;
    font-weight: bold;
}
.title-bar>button {
    height: 100%;
    border: 0;
}
.box {
    width: 100%;
    min-height: 100%;
    padding: 10px;
    background-color: #eeeeee;
}
.set-lottery-draw {
    max-width: 1500px;
    min-width: 600px;
}

.lottery-table,
.win-list {
    width: 100%;
    font-size: 1.5rem;
}

.lottery-table th,
.lottery-table td,
.win-list th,
.win-list td{
    width: 10rem;
    text-align: center;
}

.lottery-table th,
.win-list th {
    border-bottom: 1px solid #000;
}
/* .win-list {
    max-height: 250px;
    overflow: auto;
    display: inline-block;
} */
.remove-lottery-btn:hover,
.add-lottery-btn:hover {
    cursor: pointer;
    text-shadow: #ccc 1px 1px 0px;
    user-select: none;
}

.add-lottery-btn {
    width: 100%;
}

.remove-lottery-btn:hover {
    background-color: #e02121;
}
.add-lottery-btn:hover {
    background-color: #4bb44b;
    color: #fff;
}

.limit-input {
    display: inline-block;
    width: calc(100%-20rem);
    max-width: 30rem;
}
.refresh-win-btn,
.download-win-btn,
.download-demo-btn {
    display: inline-block;
}
.download-demo-btn button {
    padding: 0;
    height: 32px;
}

.upload-item {
    display: inline-block;
}
.item-title {
    display: inline-block;
    color: #1f2f3d;
    font-size: 1.5rem;
    height: 2rem;
    min-width: 8rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
